.main {
	font-size: 20px;
}
.elts{
	margin: 1.5%;
	padding: 5px;
	border-radius:5px;
	border-color: #213737;
	color: #e6e6e6;
	background-color: #213737;
}
.elts:focus {
	color: #213737;
	background-color: #e6e6e6;
}
#layout {
	margin: 1.5%;
}
#content {
	height: 120px;
	width:50%;
	resize: none;
	border-color: #213737;
	border-width: 3px;
	border-style: solid;
}
#rest {
	color: #e6e6e6;
}
#email {
	width: 20%;
}
#submit {
	color: #213737 !important;
}
#thanks {
	width: 50%;
	height: auto;
	background-color: #213737;
	color: #e6e6e6;
	border-radius: 10px;
	/*margin-bottom: 20%;*/
}