#layout {
	margin: 1.5%;
}
#title {
	text-decoration: underline;
}
.block {
	size: auto;
	position: relative;
	margin-bottom: 1.5%;
	padding: 20px;
	border-radius: 12px;
	background-color: #e6e6e6;
}
.link {
	color: darkorange;
}
.link:hover {
	color: red;
}