* {
margin: 0px;
padding: 0px;
font-family: "Calibri", sans-serif;
}
body {
  color: #213737;
}
h1 {
	/*font-family: "Calibri", sans-serif;*/
	font-weight: lighter;
	padding: 20px;
  padding-top: 30px;
}
h2 {
	/*font-family: "Calibri", sans-serif;*/
	font-weight: lighter;
	margin-bottom: 20px;
}
h3 {
	color: #e6e6e6;
}
ul {
	margin-left: 5%;
}
a {
	text-decoration: none;
}
.preload {
animation-duration: 0s !important;
-moz-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
#preload-1 {
  background-color: #007BB5 !important;
}
#linkedin {
  height: 30px !important;
}
.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.links {
  color: #e6e6e6;
}
.links:hover {
	color: #ffb226;
}

#footer {
	color: #e6e6e6;
	background-color: #213737;
	margin-bottom: 0px;
	padding: 20px;
}
#presentation {
	background-image: linear-gradient(#ffb226, #213737);
	position: fixed;
	left: 0px;
	top: 50px;
	bottom: 120px;
	height: 100%;
  width: 100%;
	z-index: -1;
}

#bienvenue {
	color: #e6e6e6;
	background-color: #213737;
	text-align: center;
	padding-top: 65px;
	animation-name: greetingsWorld;
	animation-iteration-count: infinite;
	animation-duration: 4s;
}

/* CONNECTION MENU ************************************************************/

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.logo {
  height: 25px;
}
.logos {
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  height: 40px;
  width: 40px;
  animation-name: squareToCircle;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  /*animation-delay: -1s;
  /*transition: border-radius 0.5s linear;*/
}

.logos:hover {
  animation-name: circleToSquare;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  /*animation-timing-function: cubic-bezier(.5,1.5,.5,-0.5);*/
  /*border-radius: 5px;
  transition: border-radius 0.8s cubic-bezier(.5,1.5,.5,-0.5);*/
}
.bartxt {
  height: 20px;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #e6e6e6;
}
.bartxt:hover {
	color: #ffb226;
}
#stringInscription {
  border-color: #e6e6e6;
  padding-left: 3px !important;
}
#stringConnexion {
  padding-left: 15px;
  padding-right: 10px;
}
#cnx {
  height: 50px;
  width: auto;
}
#cnxbox {
  height: 50px;
  width: auto;
}
#cnx:hover .cnxpanel {
  display: inline-block;
}
#submit {
  height: 30px /*!important*/;
  padding-left: 8px /*!important*/;
  padding-right: 8px /*!important*/;
  padding-top: 0px /*!important*/;
  padding-bottom: 0px /*!important*/;
  background-color: #dea029;
  border-color: orange;
  border-width: 2px;
  width: auto;
}
#submit:hover {
	border-color: darkorange;
	background-color: #ffb226;
}
#menubar {
  position: sticky;
  width: 100%;
  height: 50px;
  top: 0px;
  background-color: #213737;
  color: #e6e6e6;
  z-index: 1;
}
.menutxt {
  height: 20px;
  padding: 15px;
  padding-left: 5px;
}
#border {
  border-left: 1px solid;
  border-color: #e6e6e6;
  padding: 3px;
  padding-left: 7px;
}
.cnxpanel {
  display: none;
  height: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  margin-right: 5px;
  width: auto;
  border-radius: 5px;
  border-color: black;
}
.disc {
  text-decoration: none;
  height: 50px;
  margin-left: 5px;
  padding:5px;
  font-size: 16px;
  color: #e6e6e6;
  width:auto;
  background-color: #213737;
  border-width: 0;
  border-radius: 0;
}
#connection-form {
  height: 34px;
}

/* animations -------------------------------------------------*/

@keyframes circleToSquare {
  0% {border-radius: 20px}
  25% {border-radius: 5px}
  60% {border-radius: 10px}
  100% {border-radius: 8px}
}
@keyframes squareToCircle {
	from {border-radius: 8px}
	to {border-radius: 20px}
}
@keyframes greetingsWorld {
	0%{color: skyblue}
	10%{color: mediumturquoise}
  20%{color: aqua}
	30%{color: lime}
	40%{color: yellow}
	50%{color: gold}
	60%{color: orange}
	70%{color: red}
	80%{color: violet}
	90%{color: deepskyblue}
	}