.signinform {
	background-color: #e6e6e6;
	padding: 1%;
	margin: 1%;
	width: 25%;
	border-radius: 15px;
}
.elts {
	background-color: #213737;
	color: #e6e6e6;
	border-color: #213737;
	padding: 10px;
	margin: 1.5%;
	border-radius: 5px;
	width: 90%;
}
.elts:focus {
	color: #213737;
	background-color: #e6e6e6;
}
#title {
	margin-bottom: 0 !important;
	font-weight: auto !important;
}
.sub {
	margin: 1%;
	border-radius: 5px;
	color: #213737;
}