.layout {
	width: 97%;
	display: table;
	margin: 1.5%;
	margin-top: 0;
}
.block {
	position: relative;
	margin-bottom: 3%;
	padding: 20px;
	border-radius: 12px;
	background-color: #e6e6e6;
}
.lblocks {
	position: absolute;
	margin-right: 50.75%;
	margin-left: 0%;
}
.rblocks {
	border-radius: 12px;
	background-color: #e6e6e6;
	max-width: 46%;
	padding: 20px;
	margin-left: 51%;
}
.blockslinks {
	color: darkorange;
}
.blockslinks:hover {
	color: red;
	text-decoration: underline;
}