* {
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#container {
    position: relative;
    background-color: darkgrey;
}

#cnxmenu {
    position: absolute;
    list-style-type: none;
    width: 50%;
    left: 1%;
}

#connect ul{
}

#connect .cnxpanel {

}

#cnx {
  height: 50px;
  width: auto;
}
#pcon {
  height: 20px;
  width: auto;
  padding: 15px;
}
#pcon:hover {
}
#cnxbox {
  height: 50px;
  width: auto;
}

#cnx:hover .cnxpanel {
     display: inline-block;
}

#submit {
  height: 34px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  width: auto;
}
#menubar {
  position: sticky;
  width: 100%;
  height: 50px;
  background-color: darkorange;
}
.menutxt{
  height: 20px;
  padding: 15px;
}
.logo {
  height: 25px;
}

.logos {
  border-radius: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  height: 40px;
  width: 40px;
}

.logos:hover {
  border-radius: 5px;
}

.cnxpanel {
  display: none;
  height: 20px;
  padding: 15px;
  margin-right: 10px;
  width: auto;
  border-radius: 5px;
  border-color: black;
}

#connection-form {
  height: 34px;
}

.disc {
  text-decoration: none;
  height: 50px;
  padding:5px;
  font-size: 16px;
  color: #e6e6e6;
  width:auto;
  background-color: #213737;
  border-width: 0;
  border-radius: 0;
}
.disc:hover {
  color: #;
}